@*@model <IEnumerable< Bus_Client.ServiceReference1.ExtractBookingDetails>

@{
    ViewBag.Title = "FetchData";
}

<h2>FetchData</h2>
<table><tr><td>From</td> <td>@ViewBag.Rto</td><td>To</td>@ViewBag</tr></table>*@
